body{
  background-color: #ffffff;
    background-size: cover; /* Ensures the image covers the whole screen */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps it fixed during scrolling */
    background-position: center;
    backdrop-filter: blur(8px);
}


.navlink-active {
  background-color: rgb(255, 192, 143); /* darkcustombg color */
  color: #ffffff; /* text color */
}

.navlink-inactive {
  background-color: transparent;
  color: #000000; /* text color */
}

/* Custom button styles */
.custom-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: none;
}

.btn-11 {
  background: rgb(251,33,117);
  background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
  color: #fff;
  overflow: hidden;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(255,255,255,.2),
              inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@keyframes shiny-btn1 {
  0% { transform: scale(0) rotate(45deg); opacity: 0; }
  80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { transform: scale(4) rotate(45deg); opacity: 1; }
  100% { transform: scale(50) rotate(45deg); opacity: 0; }
}

