body{
  background-color: #FDFFF5;
}

.navlink-active {
  background-color: rgb(255, 192, 143); 
  color: #ffffff;
}

.navlink-inactive {
  background-color: transparent;
  color: #000000;
}

.custom-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: none;
}

.btn-11 {
  position: relative;
  border: none;
  background: rgb(255, 228, 208); 
  background: linear-gradient(0deg, rgb(255, 146, 62) 0%, rgba(255, 192, 143, 1) 100%); 
  color: #fff;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite; 
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
              inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@keyframes shiny-btn1 {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
.theme-toggle i {
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease;  
}