@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
    font-family: 'Montserrat';
  }
  .font-nunito {
    font-family: 'Nunito', sans-serif;
  }
  body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}